In [1]:
import pandas as pd

In [29]:
# SERIE CON INDEX PROPIO
jugadores = pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'], index=[1, 7, 10, 30])
jugadores

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [30]:
# SERIE CON INDEX POR DEFECTO
jugadores = pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'])
jugadores

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

In [31]:
# SERIE DESDEC UN DICTIONARY
dict = {1:'Navas', 7:'Mbappe', 10:'Neymar', 30:'Messi'}
jugadores = pd.Series(dict)
jugadores

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [33]:
# INDEXADO EN SERIES
jugadores[10]

'Neymar'

In [34]:
# SLICING EN SERIES
jugadores[1:3]

7     Mbappe
10    Neymar
dtype: object

In [38]:
# DATAFRAME DESDE UN DICTIONARY CON DOS DIMENCIONES E INDIX POR DESEFECTO
dict = {'Jugadores': ['Navas', 'Mbappe', 'Neymar', 'Messi'],
        'Altura': [180.0, 170.0, 170.0, 165.0],
        'Goals': [2, 200, 200, 250]}

df_jugadores = pd.DataFrame(dict)
df_jugadores

  Jugadores  Altura  Goals
0     Navas   180.0      2
1    Mbappe   170.0    200
2    Neymar   170.0    200
3     Messi   165.0    250

In [39]:
# DATAFRAME DESDE DICT CON INDEX ESTABLECIDO
df_jugadores = pd.DataFrame(dict, index=[1, 7, 10, 30])
df_jugadores

   Jugadores  Altura  Goals
1      Navas   180.0      2
7     Mbappe   170.0    200
10    Neymar   170.0    200
30     Messi   165.0    250

In [41]:
# LISTADO DE LOS INDICES POR COLUMNAS
df_jugadores.columns

Index(['Jugadores', 'Altura', 'Goals'], dtype='object')

In [42]:
# LISTADO DE LOS INDICES POR FILLAS
df_jugadores.index

Int64Index([1, 7, 10, 30], dtype='int64')