In [1]:
import pandas as pd

In [4]:
izq = pd.DataFrame({'A':['A1','A2','A3'],
                   'B':['B1','B2','B3']},
                 index=['k1','k2','k3'])
izq

     A   B
k1  A1  B1
k2  A2  B2
k3  A3  B3

In [5]:
der = pd.DataFrame({'C':['C0','C1','C2'],
                    'D':['D0','D1','D2']},
                  index=['k0','k2','k3'])
der

     C   D
k0  C0  D0
k2  C1  D1
k3  C2  D2

In [8]:
izq.join(der, how='inner')

     A   B   C   D
k2  A2  B2  C1  D1
k3  A3  B3  C2  D2

In [9]:
izq.join(der, how='outer')

      A    B    C    D
k0  NaN  NaN   C0   D0
k1   A1   B1  NaN  NaN
k2   A2   B2   C1   D1
k3   A3   B3   C2   D2

In [10]:
izq.join(der, how='left')

     A   B    C    D
k1  A1  B1  NaN  NaN
k2  A2  B2   C1   D1
k3  A3  B3   C2   D2

In [11]:
izq.join(der, how='right')

      A    B   C   D
k0  NaN  NaN  C0  D0
k2   A2   B2  C1  D1
k3   A3   B3  C2  D2